.top-right{
  position: absolute;
  top: 5px;
  right: 5px;
  left: 50%;
  text-align: center;
}
.text-big{
  font-style: italic;
}

.left-card{
  position: absolute;
  top: 20px;
  right: 60%;
  left: 5px;
  text-align: center;
}
.header-top{
  margin-top: 20px;
  margin-bottom: 20px;
}